*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222130;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    column-gap: 4rem;
    padding: 3rem 0;
}

.matchCard{
    width: 35vw;
    height: 15rem;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #84C3DC, #7CE2FA);
    color: black;
    box-shadow: .1rem .1rem 2rem #7ce3fa9f;
    border: 2px solid white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.matchCard h3{
    text-align: left;
}

.matchCard .teamWithScore{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamWithScore img{
    width: 2.3rem;
}

.matchCard .teamWithScore > div{
    display: flex;
    gap: .6rem;
    align-items: center;
}